---
# Copy from https://github.com/leuc/org.phoboslab.wipeout
name: Build Flatpak

permissions:
  contents: write

on:
  workflow_dispatch:
    inputs:
      prerelease:
        description: 'Pre-Release'
        required: true
        default: false
        type: boolean
      version:
        description: 'Version'
        required: true
        type: string
        default: "v0.0.0"
jobs:
  flatpak:
    name: "Create Flatpak"
    runs-on: ubuntu-latest
    container:
      image: bilelmoussaoui/flatpak-github-actions:freedesktop-21.08
      options: --privileged
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Set App Manifest Release Version and Date
        run: |
          sed -i "s/VERSION/${{ inputs.version }}/" io.github.gameflorist.dunedynasty.metainfo.xml
          sed -i "s/DATE/$(date +%Y-%m-%d)/" io.github.gameflorist.dunedynasty.metainfo.xml

      - name: Build Flatpak
        uses: flatpak/flatpak-github-actions/flatpak-builder@v6.1
        with:
          bundle: DuneDynasty.${{ inputs.version }}.flatpak
          manifest-path: io.github.gameflorist.dunedynasty.yaml
          cache-key: flatpak-builder-${{ inputs.version }}
          upload-artifact: false

      - name: Delete Old Artifacts
        uses: actions/github-script@v7
        id: artifact
        with:
          script: |
            const res = await github.rest.actions.listArtifactsForRepo({
                owner: context.repo.owner,
                repo: context.repo.repo,
            })

            res.data.artifacts
                .filter(({ name }) => name === '${{ github.ref_name }}-flatpak')
                .forEach(({ id }) => {
                  github.rest.actions.deleteArtifact({
                      owner: context.repo.owner,
                      repo: context.repo.repo,
                      artifact_id: id,
                  })
                })

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.ref_name }}-flatpak
          path: DuneDynasty.${{ inputs.version }}.flatpak
