name: Build Flatpak

on:
  workflow_dispatch:
  push:

jobs:
  flatpak:
    name: "Create Flatpak"
    permissions:
      actions: write
    strategy:
      matrix:
        platform: [amd64, arm64]
        include:
        - platform: amd64
          arch: x86_64
          runner: ubuntu-latest
        - platform: arm64
          arch: aarch64
          runner: ubuntu-24.04-arm
    runs-on: ${{ matrix.runner }}
    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:freedesktop-24.08
      options: --privileged
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Build Flatpak
        uses: flatpak/flatpak-github-actions/flatpak-builder@v6
        with:
          bundle: DuneDynasty.flatpak
          manifest-path: io.github.gameflorist.dunedynasty.yaml
          cache-key: flatpak-builder-${{ matrix.platform }}-${{ github.sha }}
          arch: ${{ matrix.arch }}
          upload-artifact: false

      - name: Delete Old Artifacts
        uses: actions/github-script@v7
        id: artifact
        with:
          script: |
            const res = await github.rest.actions.listArtifactsForRepo({
                owner: context.repo.owner,
                repo: context.repo.repo,
            })

            res.data.artifacts
                .filter(({ name }) => name === 'dune-dynasty-${{ matrix.platform }}-flatpak')
                .forEach(({ id }) => {
                  github.rest.actions.deleteArtifact({
                      owner: context.repo.owner,
                      repo: context.repo.repo,
                      artifact_id: id,
                  })
                })

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: dune-dynasty-${{ matrix.platform }}-flatpak
          path: DuneDynasty.flatpak
